//
// Components / Menu
// ================================================================================


.menu {
  position: fixed;
  top: 0;
  right: calc( -100vw - 16px );
  bottom: 0;
  z-index: $zindex-menu;
  height: 100vh;
  width: 100vw;

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-end;

  font-family: $font-display;
  font-weight: 700;
  font-size: $fontSize-150;
  text-align: center;
  
  background-color: $color-yellow;
  background-image: url("assets/img/backgrounds/background-on-yellow.png");
  background-position: center center;

  box-shadow: $boxShadow-base;
  transition: right $trans-0400 $trans-easing;
  

  // Size MD - Still responsive
  @include breakpoint(md) {
    width: $space-2500;
    right: calc( -1 * #{$space-2500} - 16px );
  }


  // Size XL - Horizontally laid out
  @include breakpoint(xl) {
    position: relative;
    inset: auto;
    z-index: unset;
    height: 100%;
    width: auto;

    flex-direction: row;

    font-size: $fontSize-100;
    background: unset;
    box-shadow: none;
  }


  // Visible
  &--is-visible {
    right: 0;
  }
}





// Logo
// ========================================


.menu__logo {
  display: block;
  width: 240px;

  position: absolute;
  top: $space-050;
  left: $space-050;


  // Size XL - Horizontally laid out
  @include breakpoint(xl) {
    display: none;
  }
}






// Links
// ========================================


.menu__yellow {

  @include breakpoint(md) {
    flex-grow: 1;

    display: flex;
    flex-direction: column;
    justify-content: center;
  }


  // Size XL - Horizontally laid out
  @include breakpoint(xl) {
    padding-right: $space-200;
    flex-direction: row;
    align-items: center;
  }
}





// Links
// ========================================


.menu__links-list {

  // Size XL - Horizontally laid out
  @include breakpoint(xl) {
    display: flex;
    gap: $space-200;
    margin-right: $space-200;
  }
}


.menu__link {
  position: relative;
  display: block;
  margin: $space-100 0;

  color: $color-grey-900;
  transition: color $trans-0400 $trans-easing;


  &:hover {
    color: $color-purple-dark;
  }


  // Size XL - Horizontally laid out
  @include breakpoint(xl) {
    margin: unset;
    font-size: $fontSize-125;
  } 
}






// Language Dropdown
// ========================================


.menu__lang-select {

  // A reset of styles, including removing the default dropdown arrow
  appearance: none;
  background-color: transparent;
  border: none;
  padding: $space-025 $space-100 $space-025 $space-025;
  margin: 0;
  font-family: inherit;
  font-size: inherit;
  cursor: inherit;
  line-height: inherit;

  // Stack above custom arrow
  z-index: 1;

  // Remove dropdown arrow in IE10 & IE11
  // @link https://www.filamentgroup.com/lab/select-css.html
  &::-ms-expand {
      display: none;
  }

  // Remove focus outline, will add an alternate element
  outline: none;


  // Own Styles
  display: inline-block;
  position: relative;

  cursor: pointer;
  font-family: $font-display;
  font-weight: 700;
  font-size: 14px !important;
  text-transform: uppercase;
  border-radius: $borderRadius-025;

  background-image: url("data:image/svg+xml,%3Csvg width='9' height='7' viewBox='0 0 9 7' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M6 7L9 0L0 -3.93402e-07L3 7L6 7Z' fill='black'/%3E%3C/svg%3E");
  background-position: right $space-050 center;
  background-repeat: no-repeat;
  background-color: $color-yellow-light;

  
  @include breakpoint(xl) {
    font-size: 20px;
    line-height: 24px;

    background-color: $color-grey-200;
  }
}





// Black Block
// ========================================


.menu__black {
  width: 100%;
  margin-top: $space-300;
  padding: $space-300 0 $space-400;

  color: $color-white;

  background-color: $color-grey-900;
  background-image: url("assets/img/backgrounds/background-on-black.png");
  background-position: center center;
  border-top: 4px solid $color-yellow-dark;


  // Size XL - Horizontally laid out
  @include breakpoint(xl) {
    width: auto;
    height: 100%;
    margin: 0;
    padding: 0 $space-200;

    display: flex;
    align-items: center;

    border: none;
    @include block-connector;

    font-size: $fontSize-125;
  }

}


.menu__black-link {
  color: $color-white;
  transition: color $trans-0400 $trans-easing;

  &:hover {
    color: $color-yellow;
  }
}