<header class="header">


    <!-- Logo -->
    <a href="/{{@root.locale.code}}/index" class="header__logo">
        <img src="/assets/img/logos/MicroBlocksLearn.svg" alt="MicroBlocks LEARN">
    </a>


    <!-- Menu Toggle -->
    <div class="menu-toggle" id="menu-toggle" role="button" aria-haspopup="true" aria-controls="menu">
        <div class="menu-toggle__icon menu-toggle__icon--show">
            {{> svg.icon-show }}
        </div>
        <div class="menu-toggle__icon menu-toggle__icon--hide">
            {{> svg.icon-hide }}
        </div>
    </div>


    <!-- Menu Items -->
    <nav id="menu" class="menu">


        <!-- Menu Logo -->
        <a href="/{{@root.locale.code}}/index" class="menu__logo">
            <img src="/assets/img/logos/MicroBlocksLearn.svg" alt="MicroBlocks LEARN">
        </a>


        <!-- Yellow area contents -->
        <div class="menu__yellow">

            <ul class="menu__links-list">
                <li class="menu__list-item">
                    <a href="/{{@root.locale.code}}/index" class="menu__link">{{@root.locale.activities-nav-item}}</a>
                </li>
                {{!-- <li class="menu__list-item">
                    <a href="/{{@root.locale.code}}/educators" class="menu__link">{{@root.locale.educators-nav-item}}</a>
                </li> --}}
                <li class="menu__list-item">
                    <a href="/{{@root.locale.code}}/other-resources" class="menu__link">{{@root.locale.other-resources-nav-item}}</a>
                </li>
                <li class="menu__list-item">
                    <a href="https://microblocks.fun/get-started" class="menu__link">{{@root.locale.get-started-nav-item}}</a>
                </li>
                <li class="menu__list-item">
                    <a href="https://microblocks.fun/" class="menu__link">MicroBlocks.fun</a>
                </li>
            </ul>

            <div class="menu__lang">
                <label for="site-language" class="visually-hidden">Site Language</label>
                <select id="site-language" class="locale menu__lang-select" onchange="setLang(this.value)">
                    {{#each locales}}
                    <option value={{this}}>{{this}}</option>
                    {{/each}}
                </select>
                <script>
                    document.querySelector('select.locale').value =
                        document.documentElement.lang;
                </script>
            </div>

        </div>


        <!-- Black area contents -->
        <div class="menu__black">
            <a href="https://microblocks.fun/run" class="menu__black-link" target="_blank">{{@root.locale.run-nav-item}}</a>
        </div>


    </nav>


</header>
