// 
// Mixins / Block Connector
// ==========================================================================


@mixin block-connector {
    position: relative;
    z-index: $zindex-above;
    
    &::before {
        display: block;
        content: '';
    
        width: 16px;
        height: 16px;
        position: absolute;
        bottom: -4px;
        left: 8px;
        z-index: $zindex-above;
    
        background-color: inherit;
        
        transform: rotate(45deg);
        border-radius: 2px;
    }
}
